// Polices ecritures

@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

$font1: allura, sans-serif;
$font2: poppins, serif;
$font3 : roboto, sans-serif;
// couleurs

// mixin

// parametres generaux

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  background-color: rgb(39, 39, 39);

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(112, 112, 112);
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.15s;

    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }
}
