@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@500&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  background-color: rgb(39, 39, 39);
  scroll-behavior: smooth;
}
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(112, 112, 112);
  animation: animBefore 1.5s ease forwards;
  animation-delay: 0.15s;
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

header {
  min-height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
header ul {
  display: flex;
  justify-content: space-between;
  color: rgb(202, 202, 202);
}
header li {
  padding: 20px 40px;
  transform: translateY(5px);
}
header .logo {
  font-family: "Allura";
  font-size: 3rem;
  font-weight: bold;
}
header .menu li {
  color: rgb(202, 202, 202);
  font-family: "roboto";
  text-transform: uppercase;
  font-weight: 500;
}
@media only screen and (max-width: 822px) {
  header .menu li {
    display: none;
  }
}
header .menu li:after {
  content: "";
  display: block;
  width: 0;
  background: #a87345;
  height: 2px;
  transition: width 0.3s;
}
header .menu li:hover::after {
  width: 100%;
}
header .social li:hover {
  color: #a87345;
}
header .header {
  padding: 90px;
  text-align: center;
}
header .header h1 {
  color: rgb(190, 108, 30);
  font-family: "Allura";
  font-size: 3rem;
  font-weight: 300;
  transform: translateY(10px);
}
header .header .welcome {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Poppins";
  color: white;
  letter-spacing: 8px;
  transform: translateY(-20px);
}
header .header img {
  font-size: 20px;
}
header .header p {
  font-family: "Roboto";
  color: white;
  letter-spacing: 6px;
  transform: translateY(50px);
  text-transform: uppercase;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 822px) {
  .section1 {
    display: block;
  }
}
.section1 .container-left {
  background: rgb(221, 220, 220);
  height: 590px;
}
.section1 .dashed {
  margin: 15px;
  padding: 10px;
  border: 1px dashed #a87345;
  text-align: center;
}
.section1 .dashed h2 {
  font-family: "Allura";
  color: #a87345;
  font-size: 2rem;
  font-weight: 200;
}
.section1 .dashed h3 {
  font-size: 1.2rem;
  font-family: "poppins";
  transform: translateY(-10px);
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.section1 .dashed img {
  padding-bottom: 30px;
}
.section1 .dashed p {
  font-family: "Roboto";
  padding-bottom: 30px;
  font-weight: 500;
}
.section1 .dashed .russel {
  text-transform: capitalize;
  font-family: "Roboto";
  font-weight: 800;
  letter-spacing: 1px;
}
.section1 .dashed .chef {
  text-transform: uppercase;
  color: rgb(177, 175, 175);
  font-weight: 500;
  transform: translateY(-30px);
}
.section1 .container-right {
  background-image: url(/assets/img/store-01.jpg);
  background-position: center;
  height: 590px;
}
@media only screen and (max-width: 822px) {
  .section1 .container-right {
    display: none;
  }
}

.section2 {
  background-image: url(/assets/img/bg-menu-01.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-position-y: 400px;
  padding: 50px;
  height: auto;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 822px) {
  .section2 {
    background-position-y: 900px;
  }
}
.section2 .title {
  font-family: "Allura";
  color: #a87345;
  font-size: 2rem;
  padding: 20px;
}
.section2 nav {
  display: flex;
  justify-content: center;
  overflow: hidden;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 822px) {
  .section2 nav {
    width: 600px;
    margin: 0 auto;
  }
}
.section2 nav ul {
  display: flex;
}
.section2 nav li {
  padding: 30px 60px;
  display: inline-block;
  font-family: "Roboto";
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
@media only screen and (max-width: 822px) {
  .section2 nav li {
    padding: 40px 40px;
  }
}
.section2 nav li:after {
  content: "";
  display: block;
  width: 0;
  background: #a87345;
  height: 2px;
  transition: width 0.3s;
}
.section2 nav li:hover::after {
  width: 100%;
}
.section2 .menu {
  background: rgb(238, 237, 237);
  width: 60%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  border-top: 5px solid #a87345;
  padding: 10px;
}
@media only screen and (max-width: 1147px) {
  .section2 .menu {
    display: block;
    width: 100%;
  }
}
.section2 .menu .menu-gauche img {
  border-radius: 50%;
  height: 90px;
}
.section2 .menu .menu-gauche .plates {
  display: grid;
  grid-template-columns: 25% 45% 20%;
  align-items: center;
  gap: 30px;
  padding: 10px;
  line-height: 20px;
}
.section2 .menu .menu-gauche .plates::after {
  content: "";
  border-bottom: 1px dashed gray;
  width: 400%;
}
.section2 .menu .menu-gauche .description-plat {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.section2 .menu .menu-gauche h4 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 0.7rem;
}
.section2 .menu .menu-gauche p {
  text-transform: capitalize;
  font-family: "Roboto";
  font-size: 0.9rem;
}
.section2 .menu .menu-gauche .price {
  color: #a87345;
  font-weight: 700;
}
.section2 .menu .menu-droite img {
  border-radius: 50%;
  height: 90px;
}
.section2 .menu .menu-droite .plates {
  display: grid;
  grid-template-columns: 25% 45% 20%;
  align-items: center;
  gap: 30px;
  padding: 10px;
  line-height: 20px;
}
.section2 .menu .menu-droite .plates::after {
  content: "";
  border-bottom: 1px dashed gray;
  width: 400%;
}
.section2 .menu .menu-droite .description-plat {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.section2 .menu .menu-droite h4 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 0.7rem;
}
.section2 .menu .menu-droite p {
  text-transform: capitalize;
  font-family: "Roboto";
  font-size: 0.9rem;
}
.section2 .menu .menu-droite .price {
  color: #a87345;
  font-weight: 700;
}

.section3 {
  background: rgb(39, 39, 39);
  margin-top: 30px;
}
.section3 .formulaire {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 70%;
  padding-top: 30px;
}
@media only screen and (max-width: 822px) {
  .section3 .formulaire {
    display: block;
    margin-top: 30px;
  }
}
.section3 .left-container {
  background: #030303;
}
.section3 .left-container .dashed {
  border: 1px dashed rgb(207, 203, 203);
  margin: 30px;
}
.section3 .left-container .dashed .planning {
  text-align: center;
  padding: 10px;
}
.section3 .left-container .dashed .planning h2 {
  font-family: "Allura";
  color: #a87345;
  font-weight: 300;
}
.section3 .left-container .dashed .planning h3 {
  color: whitesmoke;
  transform: translateY(-9px);
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 200;
  padding-bottom: 15px;
}
.section3 .left-container .dashed .planning .days {
  color: #a87345;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  padding: 35px 0;
  font-size: 0.9rem;
}
.section3 .left-container .dashed .planning p {
  color: rgb(187, 181, 181);
  font-size: 0.7rem;
  overflow: hidden;
}
.section3 .right-container {
  background: rgb(235, 234, 234);
}
.section3 .right-container .booking-header {
  text-align: center;
  padding: 60px;
}
.section3 .right-container .booking-header h2 {
  font-family: "Allura";
  color: #a87345;
  font-size: 2.8rem;
  font-weight: 500;
  overflow: hidden;
}
.section3 .right-container .booking-header h3 {
  font-family: "Poppins";
  text-transform: uppercase;
  transform: translateY(-20px);
  font-size: 1.9rem;
  display: inline;
}
.section3 .right-container .booking-header img {
  padding-top: 30px;
}
.section3 .right-container form {
  width: 80%;
  margin: 0 auto;
}
.section3 .right-container form input[type=text],
.section3 .right-container form input[type=date],
.section3 .right-container form input[type=time],
.section3 .right-container form input[type=number],
.section3 .right-container form input[type=email],
.section3 .right-container form select {
  width: 30%;
  padding: 12px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(180, 179, 179);
  background: transparent;
}
.section3 .right-container form .form1 {
  display: flex;
  justify-content: space-around;
}
.section3 .right-container form .form2 {
  display: flex;
  justify-content: space-around;
}
.section3 .right-container form .button {
  display: flex;
  justify-content: center;
  padding: 40px 10px;
}
.section3 .right-container form .button input {
  text-transform: uppercase;
  padding: 15px;
  border-radius: 30px;
  width: 33%;
  background: #000;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.section4 {
  margin-top: 150px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 822px) {
  .section4 {
    display: none;
  }
}
.section4 .header-title {
  text-align: center;
  padding: 90px 0;
}
.section4 .header-title h3 {
  font-family: "Allura";
  font-size: 2rem;
  color: #a87345;
  font-weight: 500;
}
.section4 .header-title h2 {
  color: white;
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: translateY(-10px);
}
.section4 .header-title img {
  padding-top: 20px;
}
.section4 .events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  gap: 30px;
}
.section4 .events .div1 {
  grid-area: 1/1/2/2;
}
.section4 .events .div2 {
  grid-area: 2/1/3/2;
}
.section4 .events .div3 {
  grid-area: 1/2/3/3;
}
.section4 .events .div1 {
  display: grid;
  grid-template-columns: 30% 70%;
}
.section4 .events .div1 .party {
  background: url(/assets/img/event-01.jpg) center/cover;
  display: flex;
  align-items: center;
}
.section4 .events .div1 .party .date {
  background: #272626;
  color: white;
  text-align: center;
  width: auto;
  margin: 0 auto;
  padding: 20px;
}
.section4 .events .div1 .party .date .date-number {
  font-size: 1.3rem;
  font-family: "Roboto";
  font-weight: bold;
}
.section4 .events .div1 .party .date .date-month {
  font-family: "Roboto";
  font-size: 0.8rem;
}
.section4 .events .div1 .reservation-tickets {
  background: whitesmoke;
  padding: 10px;
  line-height: 40px;
}
.section4 .events .div1 .reservation-tickets h4 {
  font-family: "Roboto";
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 700;
  color: #272626;
}
.section4 .events .div1 .reservation-tickets .infos {
  display: flex;
  text-align: left;
  font-family: "Roboto";
  font-weight: 500;
}
.section4 .events .div1 .reservation-tickets .infos p {
  padding-right: 10px;
  color: gray;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.section4 .events .div1 .reservation-tickets .infos i {
  padding-right: 10px;
}
.section4 .events .div1 .reservation-tickets input[type=button] {
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
  border: none;
}
.section4 .events .div2 {
  display: grid;
  grid-template-columns: 30% 70%;
}
.section4 .events .div2 .ruhme {
  background: url(/assets/img/event-02.jpg) center/cover;
  display: flex;
  align-items: center;
}
.section4 .events .div2 .ruhme .date {
  background: #272626;
  color: white;
  text-align: center;
  width: auto;
  margin: 0 auto;
  padding: 20px;
}
.section4 .events .div2 .ruhme .date .date-number {
  font-size: 1.3rem;
  font-family: "Roboto";
  font-weight: bold;
}
.section4 .events .div2 .ruhme .date .date-month {
  font-family: "Roboto";
  font-size: 0.8rem;
}
.section4 .events .div2 .reservation-tickets {
  background: whitesmoke;
  padding: 10px;
  line-height: 40px;
}
.section4 .events .div2 .reservation-tickets h4 {
  font-family: "Roboto";
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 700;
  color: #272626;
}
.section4 .events .div2 .reservation-tickets .infos {
  display: flex;
  text-align: left;
  font-family: "Roboto";
  font-weight: 500;
}
.section4 .events .div2 .reservation-tickets .infos p {
  padding-right: 10px;
  color: gray;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.section4 .events .div2 .reservation-tickets .infos i {
  padding-right: 10px;
}
.section4 .events .div2 .reservation-tickets input[type=button] {
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
  border: none;
}
.section4 .events .div3 {
  background: url(/assets/img/event-03.jpg);
}
.section4 .events .div3 .celebrities {
  margin: 30px;
  background: whitesmoke;
  text-align: center;
  height: auto;
}
.section4 .events .div3 .celebrities .date {
  background: #272626;
  color: white;
  text-align: center;
  width: 70px;
  margin: 0 auto;
  padding: 20px;
}
.section4 .events .div3 .celebrities .date .date-number {
  font-size: 1.3rem;
  font-family: "Roboto";
  font-weight: bold;
}
.section4 .events .div3 .celebrities .date .date-month {
  font-family: "Roboto";
  font-size: 0.8rem;
}
.section4 .events .div3 .celebrities .reservation-tickets {
  background: whitesmoke;
  padding: 40px;
  line-height: 40px;
}
.section4 .events .div3 .celebrities .reservation-tickets h4 {
  font-family: "Roboto";
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 500;
  color: #272626;
  font-size: 1.5rem;
}
.section4 .events .div3 .celebrities .reservation-tickets .infos {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 500;
  background: whitesmoke;
}
.section4 .events .div3 .celebrities .reservation-tickets .infos p {
  padding-right: 10px;
  color: gray;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.section4 .events .div3 .celebrities .reservation-tickets .infos i {
  padding-right: 10px;
}
.section4 .events .div3 .celebrities .reservation-tickets input[type=button] {
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
  border: none;
  font-weight: 600;
  padding-top: 50px;
}

.section5 {
  height: 400px;
  background-image: url(/assets/img/gmap.jpg);
  background-repeat: no-repeat;
  background-position-y: 90px;
}
.section5 .quote {
  background: whitesmoke;
  width: 70%;
  margin: 0 auto;
  position: relative;
  height: auto;
}
.section5 .quote .avatar-chief {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -330%);
  height: 50px;
  width: 50px;
}
.section5 .quote .citation {
  text-align: center;
  padding: 50px;
}
.section5 .quote .citation .quote {
  line-height: 30px;
  font-family: "Roboto";
  text-transform: capitalize;
}
.section5 .quote .citation .author {
  padding-top: 20px;
}
.section5 .quote .citation .author span {
  font-family: "Roboto";
  letter-spacing: 1px;
  font-weight: 600;
}
.section5 .quote .citation .author p {
  padding-top: 20px;
  color: #a87345;
}

footer {
  display: grid;
  grid-template-columns: 40% 60%;
}
footer .left-footer {
  background: #1d1b1b;
  padding: 30px;
}
footer .left-footer h4 {
  font-family: "Allura";
  font-size: 2rem;
  color: #a87345;
  font-weight: 400;
}
footer .left-footer p {
  line-height: 25px;
  color: rgb(92, 90, 90);
  font-family: "Roboto";
  letter-spacing: 1px;
}
footer .right-footer {
  padding: 30px;
}
footer .right-footer .newsletter {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
footer .right-footer .newsletter span {
  color: whitesmoke;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 600;
  padding-bottom: 10px;
}
footer .right-footer .newsletter input {
  background: none;
  border: 1px solid gray;
  padding: 5px;
  color: gray;
  text-transform: capitalize;
}
footer .right-footer .contact {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
footer .right-footer .contact p {
  color: whitesmoke;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 600;
  text-transform: uppercase;
}
footer .right-footer .contact i {
  color: rgb(92, 90, 90);
}/*# sourceMappingURL=index.css.map */