@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@500&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
  cursor: pointer;
}

body {
  background-color: rgb(39, 39, 39);
  scroll-behavior: smooth;
}
body:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(112, 112, 112);
  animation: animBefore 1.5s ease forwards;
  animation-delay: 0.15s;
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

header {
  min-height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
}
header ul {
  display: flex;
  justify-content: space-between;
  color: rgb(202, 202, 202);
}
header .logo {
  font-family: "Allura";
  font-size: 2rem;
  transform: translateY(-10px);
}
header .logo:hover {
  color: red;
}
header .menu li {
  color: rgb(202, 202, 202);
  padding-left: 70px;
  font-family: "roboto";
  text-transform: uppercase;
  font-weight: 500;
}
header .social li {
  padding-right: 20px;
}
header .header {
  padding: 90px;
  text-align: center;
}
header .header h1 {
  color: rgb(190, 108, 30);
  font-family: "Allura";
  font-size: 3rem;
  font-weight: 300;
  transform: translateY(10px);
}
header .header .welcome {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Poppins";
  color: white;
  letter-spacing: 8px;
  transform: translateY(-20px);
}
header .header img {
  font-size: 20px;
}
header .header p {
  font-family: "Roboto";
  color: white;
  letter-spacing: 6px;
  transform: translateY(50px);
  text-transform: uppercase;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.section1 .container-left {
  background: rgb(221, 220, 220);
}
.section1 .dashed {
  margin: 20px;
  padding: 30px;
  border: 1px dashed #a87345;
  text-align: center;
  height: 540px;
}
.section1 .dashed h2 {
  font-family: "Allura";
  color: #a87345;
  font-size: 2rem;
  font-weight: 200;
}
.section1 .dashed h3 {
  font-size: 1.2rem;
  font-family: "poppins";
  transform: translateY(-10px);
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.section1 .dashed img {
  padding-bottom: 30px;
}
.section1 .dashed p {
  font-family: "Roboto";
  padding-bottom: 30px;
  font-weight: 500;
}
.section1 .dashed .russel {
  text-transform: capitalize;
  font-family: "Roboto";
  font-weight: 800;
  letter-spacing: 1px;
}
.section1 .dashed .chef {
  text-transform: uppercase;
  color: rgb(177, 175, 175);
  font-weight: 500;
  transform: translateY(-30px);
}
.section1 .container-right {
  background-image: url(/assets/img/store-01.jpg);
  background-position: center;
}

.section2 {
  background-image: url(/assets/img/bg-menu-01.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-position-y: 420px;
  padding: 50px;
}
.section2 .title {
  font-family: "Allura";
  color: #a87345;
  font-size: 2rem;
  padding: 20px;
}
.section2 nav {
  display: flex;
  justify-content: center;
}
.section2 nav ul {
  display: flex;
}
.section2 nav li {
  padding: 30px 40px;
  display: inline-block;
  font-family: "Roboto";
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
.section2 nav li:after {
  content: "";
  display: block;
  width: 0;
  background: #a87345;
  height: 2px;
  transition: width 0.3s;
}
.section2 nav li:hover::after {
  width: 100%;
}
.section2 .menu {
  background: rgb(238, 237, 237);
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  border-top: 5px solid #a87345;
}/*# sourceMappingURL=index.css.map */
