header {
  min-height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }

  ul {
    display: flex;
    justify-content: space-between;
    color: rgb(202, 202, 202);
  }

  li {
    padding: 20px 40px;
    transform: translateY(5px);
   

  }
  .logo {
    font-family: "Allura";
    font-size: 3rem;
    font-weight: bold;
  }

  .menu {
    li {
      color: rgb(202, 202, 202);
      font-family: "roboto";
      text-transform: uppercase;
      font-weight: 500;
      @media only screen and (max-width: 822px) {
        display: none;
      }
      &:after {
        content: "";
        display: block;
        width: 0;
        background: #a87345;
        height: 2px;
        transition: width 0.3s;
      }
  
      &:hover::after {
        width: 100%;
      }
    }
  }
  .social {       
    li{

      &:hover {
        color: #a87345;
      }
    }
  }

  .header {
    padding: 90px;
    text-align: center;

    h1 {
      color: rgb(190, 108, 30);
      font-family: "Allura";
      font-size: 3rem;
      font-weight: 300;
      transform: translateY(10px);
    }

    .welcome {
      font-size: 3rem;
      text-transform: uppercase;
      font-family: "Poppins";
      color: white;
      letter-spacing: 8px;
      transform: translateY(-20px);
    }

    img {
      font-size: 20px;
    }

    p {
      font-family: "Roboto";
      color: white;
      letter-spacing: 6px;
      transform: translateY(50px);
      text-transform: uppercase;
    }
  }
}
