.section5 {
  min-height: 500px;
  background-image: url(/assets/img/gmap.jpg);
  background-repeat: no-repeat;
  background-position-y: 90px;
  @media only screen and (max-width: 822px) {
    height: 100%;
    margin-top: 50px;
    background-position-y: 90px;
  }

  .quote {
    background: whitesmoke;
    width: 70%;
    margin: 0 auto;
    position: relative;
    height: auto;

    &:before {
      content: "";
      position: absolute;
      background: url(/assets/img/avatar-02-modified.png) center/cover;
      height: 60px;
      width: 60px;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50px;
    }

    .citation {
      text-align: center;
      padding: 50px;

      .quote {
        line-height: 30px;
        font-family: "Roboto";
        text-transform: capitalize;
      }
      .author {
        padding-top: 20px;
        span {
          font-family: "Roboto";
          letter-spacing: 1px;
          font-weight: 600;
        }

        p {
          padding-top: 20px;
          color: #a87345;
        }
      }
    }
  }
}
